<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Thu Aug 20 2015 06:24:31 GMT+0000 (UTC) -->
<html data-wf-site="54b5dacca1dc10190edce926" data-wf-page="54c496500e36ed896d10a2d8">
  <head>
    <meta charset="utf-8">
    <title>DemocracyOS - About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/css/getdemocracy.webflow.da3b6fc98.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script><script>WebFont.load({
      google: {
        families: ["Montserrat:400,700","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Bitter:400,700,400italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Merriweather:300,400,700,900"]
      }
      });
    </script><script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/0globals/modernizr-2.7.1.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54e2678003c31180718ecbcd_favicon.png">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54e2678003c31180718ecbcd_favicon.png">
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-59201397-1'], ['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="w-section header">
      <div class="w-nav mainmenu" data-collapse="small" data-animation="default" data-duration="400" data-contain="1" data-doc-height="1">
        <div class="w-container navcontainer">
          <a class="w-nav-brand" href="/">
            <div class="w-clearfix logohome"><img class="logo" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54e2642903c31180718ecb6e_logo-democracyos.png"></div>
          </a>
          <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link navigationlink" href="/">Home</a><a class="w-nav-link navigationlink" href="/about-us">About</a><a class="w-nav-link navigationlink" href="/democracies">Democracies</a><a class="w-nav-link navigationlink" href="/blog">Blog</a><a class="w-nav-link navigationlink specialnav" href="http://demo.democracyos.org">TRY DEMO</a></nav>
          <div class="w-nav-button menubutton">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section media">
      <h4>How it all began</h4>
      <div class="w-container">
        <img class="team" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c99136d23112847b3468f5_equipo.jpg">
        <div class="w-row">
          <div class="w-col w-col-6">
            <p class="about">In April 2012 a group of activists, entrepreneurs, students and hackers got together in the city of Buenos Aires with a simple question in mind:&nbsp;<strong>What is democracy for the internet era?</strong>&nbsp;Many of the so-called <em>modern democracies</em>&nbsp;still run the same way they did almost two centuries ago: as citizens we only get to interact with the political system once every couple of years.&nbsp;In an era where online access starts to become commonplace around the world, we are aware of how the internet changed the way we work, communicate and relate with each other. But politics and governments haven’t changed at all. So we set out to find a reliable way to hack the system.</p>
          </div>
          <div class="w-col w-col-6">
            <p class="about">Our first step was to create an open source, free software with an easy user experience for citizens to get informed, debate and vote on every single bill presented in Congress. <strong>DemocracyOS</strong> evolved to become one of the most used platforms for collaborative decision-making and it got translated into 15 languages. It has been used in Tunisia to debate its national constitution; by the Federal Government of Mexico to develops its open goverment policy; by the youngest parlamentarian in Kenya to consult his constituency or the Congress of Buenos Aires becoming the first experience on digital democracy in the American continent. Meet our team!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section media">
      <h4>The Team</h4>
      <p class="subtitle">Headquartered in Palo Alto, California with great ideas coming out of Buenos Aires, Argentina.</p>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ce80d2bfc551d93aed6587_portrait-siri.png">
          <h2 class="teammember">Santiago Siri</h2>
          <p class="roletitle"><strong>President</strong><br>Product development &amp;&nbsp;design.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/santisiri" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/santisiripdr" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://medium.com/@santisiri" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3ff1724c957e253bd51f0_scoial-medium.png"></a><a class="w-inline-block footersociallink teamsociallink" href="https://github.com/santisiri" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3fbafdd1988d75368d5db_social-github.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ce8134d676d7da3ad5ba8f_portrait-mancini.png">
          <h2 class="teammember">Pia Mancini</h2>
          <p class="roletitle"><strong>Executive Director</strong><br>Government relations &amp;&nbsp;operations.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/piamancini" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/piamancini" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://medium.com/@piamancini" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3ff1724c957e253bd51f0_scoial-medium.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://github.com/piamancini" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3fbafdd1988d75368d5db_social-github.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ce9b2c23a1aa6d4eea81b3_portrait-commander.png">
          <h2 class="teammember">Agustin Frizzera</h2>
          <p class="roletitle"><strong>Director Political Affairs</strong><br>Congress relations &amp;&nbsp;legislation.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/agustinfrizzera" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/agustinfrizzera" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a></div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ebe5a18474078b309d799d_portrait-matias.jpg">
          <h2 class="teammember">Matias Lescano</h2>
          <p class="roletitle"><strong>Engineer</strong><br>Full stack development.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/touteo" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="https://www.facebook.com/tute.lescano" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://github.com/mjlescano" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3fbafdd1988d75368d5db_social-github.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cec45a7354ae6e4eedd00d_portrait-flor.jpg">
          <h2 class="teammember">Florencia Polimeni</h2>
          <p class="roletitle"><strong>Chairwoman</strong><br>Buenos Aires foundation.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/juicyminerva" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/mfpolimeni" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cea30d23a1aa6d4eea821d_portrait-sacha.jpg">
          <h2 class="teammember">Sacha Lifszyc</h2>
          <p class="roletitle"><strong>Lead Engineer</strong><br>Software development.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/slifszyc" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/slifszyc" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://github.com/slyfszic" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3fbafdd1988d75368d5db_social-github.png"></a></div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cea8f07354ae6e4eedcec6_portrait-mart.jpg">
          <h2 class="teammember">Martin Galanternik</h2>
          <p class="roletitle"><strong>Political Affairs</strong><br>Legislation research.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/mgalanternik" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/martin.galanternik" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ceabf623a1aa6d4eea82b3_portrait-powa.jpg">
          <h2 class="teammember">Don Powa</h2>
          <p class="roletitle"><strong>Special Projects</strong><br>Campaigns &amp;&nbsp;offline communication.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/donpowa" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cec1dd7354ae6e4eedcff5_portrait-ana.jpg">
          <h2 class="teammember">Ana Lis Rodriguez</h2>
          <p class="roletitle"><strong>Research Director</strong><br>Open government analysis &amp;&nbsp;method.</p>
          <a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/annagramma" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ceafbf7966547e0327951b_portrait-pigeon.jpg">
          <h2 class="teammember">Mair Williams</h2>
          <p class="roletitle"><strong>Researcher</strong><br>Research &amp;&nbsp;community engagement.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/mairwilliams" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/mairwil" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://medium.com/@mairwilliams" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3ff1724c957e253bd51f0_scoial-medium.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ceb0ea23a1aa6d4eea82ff_portrait-jose.jpg">
          <h2 class="teammember">José Fresco</h2>
          <p class="roletitle"><strong>Engineer</strong><br>Backend development.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/jfresco82" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/jose.fresco" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://github.com/jfresco" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3fbafdd1988d75368d5db_social-github.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cead0f7966547e032794f3_portrait-feli.jpg">
          <h2 class="teammember">Felipe Muñoz</h2>
          <p class="roletitle"><strong>Project Manager</strong><br>Legislation&nbsp;research.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/felipemuni" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/felipemuni18" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a></div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54ceb51a8466607d037b7c76_portrait-maria.jpg">
          <h2 class="teammember">Maria Quevedo</h2>
          <p class="roletitle"><strong>Political Affairs</strong><br>Communication &amp; analysis.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/muniquevedo" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/muni.quevedo" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cebf2523a1aa6d4eea840c_portrait-sebas.jpg">
          <h2 class="teammember">Sebastian Fernandez</h2>
          <p class="roletitle"><strong>Designer</strong><br>Identity &amp;&nbsp;communication.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/SebaPdR" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/elmaildesebafernandez" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cf14ac7354ae6e4eedd3af_portrait-bastian.jpg">
          <h2 class="teammember">Sebastian Ghelerman</h2>
          <p class="roletitle"><strong>Academia</strong><br>Philosophy &amp;&nbsp;research.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/bastianhell" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://facebook.com/sebastian.a.ghelerman" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16ad4c2766cd440205381_scoial-facebook.png"></a><a class="w-inline-block footersociallink teamsociallink" href="http://medium.com/@bastianhell" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54d3ff1724c957e253bd51f0_scoial-medium.png"></a></div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cec0dd7966547e032795c8_portrait-cynthia.jpg">
          <h2 class="teammember">Cynthia Kaszyczky</h2>
          <p class="roletitle"><strong>Office Administration</strong><br>Accounting &amp;&nbsp;paperwork.</p>
          <div class="w-container socialmedialinks"><a class="w-inline-block footersociallink teamsociallink" href="http://twitter.com/KASZYCZKY" target="_blank"><img src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c16b398bc3d5d54022cb62_social-twitter.png"></a></div>
        </div>
        <div class="w-col w-col-4">
          <img class="portrait" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54cec35f23a1aa6d4eea8459_portrait-pantufla.jpg">
          <h2 class="teammember">Pantufla</h2>
          <p class="roletitle"><strong>Mascot</strong><br>”Follow the white rabbit”</p>
        </div>
        <div class="w-col w-col-4"></div>
      </div>
    </div>
    <div class="w-section media">
      <h4>JOIN&nbsp;US</h4>
      <p class="subtitle">We are looking for idealists that can put words into action.<br>Anyewhere you are in the world, <strong>we can help you get a DemocracyOS community started</strong>.</p>
      <div class="w-container">
        <div class="w-form">
          <form class="jobform local" id="wf-form-Work-With-Us" name="wf-form-Work-With-Us" data-name="Work With Us">
            <label class="jobfield" for="name-2">Full Name</label><input class="w-input jobtext" id="name-2" type="text" placeholder="Enter your name" name="name-2" data-name="Name 2"><label class="jobfield" for="email-2">E-mail</label><input class="w-input jobtext" id="email-2" type="email" placeholder="Enter your email address" name="email-2" data-name="Email 2" required="required"><label class="jobfield" for="Location-2">Where are you from?</label><input class="w-input jobtext" id="Location-2" type="text" placeholder="City &amp; Country" name="Location-2" data-name="Location 2" required="required"><label class="jobfield" for="Website-2">Personal Site</label><input class="w-input jobtext" id="Website-2" type="text" placeholder="http://" name="Website-2" data-name="Website 2" required="required"><label class="jobfield" for="field-2">Position</label>
            <select class="w-select jobtext" id="field-2" name="field-2" data-name="Field 2">
              <option value="">Select one...</option>
              <option value="First">Frontend UX &amp; UI</option>
              <option value="Second">Software Engineering</option>
              <option value="Ambassador">Ambassador of DemocracyOS in your city</option>
              <option value="Third">Political Affairs</option>
              <option value="Research and Studies">Research &amp; Studies</option>
              <option value="Sales &amp; Business Development">Sales &amp; Business Development</option>
              <option value="Marketing &amp; Propaganda">Marketing &amp; Propaganda</option>
              <option value="Social Media">Social Media &amp; Community Management</option>
            </select>
            <label class="jobfield" for="Description-2">Description</label>
            <textarea class="w-input jobtext jobdescription" id="Description-2" placeholder="Tell us a bit about yourself and why are you interested in joining The DemocracyOS Foundation." name="Description-2" data-name="Description 2"></textarea>
            <input class="w-button calltoaction" type="submit" value="Submit" data-wait="Please wait...">
          </form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
    <% include footer %>
  </body>
</html>