<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Thu Aug 20 2015 06:24:31 GMT+0000 (UTC) -->
<html data-wf-site="54b5dacca1dc10190edce926" data-wf-page="54fde316288772501f7ff8fe">
  <head>
    <meta charset="utf-8">
    <title>Democracies - The DemocracyOS Foundation</title>
    <meta name="description" content="Vote for congress with DemocracyOS">
    <meta name="keywords" content="vote, democracy, congress, council, city, congressman, senator, councilmember">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/css/getdemocracy.webflow.da3b6fc98.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script><script>WebFont.load({
      google: {
        families: ["Montserrat:400,700","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Bitter:400,700,400italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Merriweather:300,400,700,900"]
      }
      });
    </script><script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/0globals/modernizr-2.7.1.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54e2678003c31180718ecbcd_favicon.png">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54e2678003c31180718ecbcd_favicon.png">
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-59201397-1'], ['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="w-section header">
      <div class="w-nav mainmenu" data-collapse="small" data-animation="default" data-duration="400" data-contain="1" data-doc-height="1">
        <div class="w-container navcontainer">
          <a class="w-nav-brand" href="/">
            <div class="w-clearfix logohome"><img class="logo" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54e2642903c31180718ecb6e_logo-democracyos.png"></div>
          </a>
          <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link navigationlink" href="/">Home</a><a class="w-nav-link navigationlink" href="/about-us">About</a><a class="w-nav-link navigationlink" href="/democracies">Democracies</a><a class="w-nav-link navigationlink" href="/blog">Blog</a><a class="w-nav-link navigationlink specialnav" href="http://demo.democracyos.org">TRY DEMO</a></nav>
          <div class="w-nav-button menubutton">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section media">
      <h4>Join our community</h4>
      <p class="subtitle">Featured implementations of DemocracyOS&nbsp;from representatives, congresses and government.</p>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://demos.legislatura.gov.ar" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Buenos aires</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baefae4bcc75081206103c_flag-ar.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe501cb8f7c5751cf01892_Screen%20Shot%202015-03-09%20at%206.59.31%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Congress of Buenos Aires</h5>
              <p class="clientfeature">With 4 million+ citizens, Buenos Aires is one of the most demanding cities in the world. And in 2014 it became the first city to have a Digital Democracy in place with each of the 16 parties in Congress agreeing to present one bill to be debated along with every citizen of the city online.<br><br><a class="standardlink" target="_blank" href="http://demos.legislatura.gov.ar">Legislatura DEMOS</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="https://debatics.pami.org.ar/" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Argentina</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baefae4bcc75081206103c_flag-ar.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/554bdf727095a2501ce330e5_Screen%20Shot%202015-05-07%20at%202.55.44%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">PAMI&nbsp;(Health Insurance)</h5>
              <p class="clientfeature">The federal and public organization responsible for managing the healthcare system for all retired citizens in Argentina uses DemocracyOS&nbsp;to define its internal IT&nbsp;policy.&nbsp;It’s considered among the largest public healthcare institutions in the world.<br><br><a class="standardlink" target="_blank" href="https://debatics.pami.org.ar/">Debatics IT&nbsp;PAMI&nbsp;DemocracyOS</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://dos.partidodelared.org" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Buenos aires</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baefae4bcc75081206103c_flag-ar.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/55513a9b43c8fafa28fd31ff_Screen%20Shot%202015-05-11%20at%207.26.07%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">The Net Party</h5>
              <p class="clientfeature">In 2013 The Net Party became the first one to run with the promise of always voting in congress according to DemocracyOS. Over 450 bills have been debated since.<br><br><a class="standardlink" target="_blank" href="http://dos.partidodelared.org">Partido de la Red DemocracyOS</a></p>
              <p class="clientfeature"><a class="standardlink" target="_blank" href="https://twitter.com/PartidodelaRed">Partido de la Red on Twitter</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4 client-picture">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://euvoto.org" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Sao Paulo</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baff4d4bcc75081206156a_flag-br.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe8b54b8f7c5751cf01c63_Screen%20Shot%202015-03-09%20at%2011.12.08%20PM.png">
                </a>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Eu Voto</h5>
              <p class="clientfeature">Eu Voto is a grassroots movement with a strong voice to take action on the environmental challenges of Brazil. Its use of DemocracyOS is focused on figuring out the best ways to&nbsp;take advantage of limited resources and avoid any kind of waste.<br><br><a class="standardlink" target="_blank" href="http://euvoto.org">Eu&nbsp;Voto DemocracyOS</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="https://twitter.com/DemocracyOS_CL" target="_blank"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/554be4ce2cb6bf677667ad26_WnsNf2pa.png"></a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">DemocracyOS&nbsp;Chile</h5>
              <p class="clientfeature">As a nation thriving in innovation that's facing profound political challenges, DemocracyOS&nbsp;now has an official chapter in Chile. Join their community.<br><br><a class="standardlink" target="_blank" href="https://twitter.com/DemocracyOS_CL">DemocracyOS&nbsp;Chile on Twitter</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://democracyos.eu/" target="_blank"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/5542e715a4edb1ee0ecac596_N4qIoEU2.png"></a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">DemocracyOS&nbsp;France</h5>
              <p class="clientfeature">A group of citizens from France, motherland of modern democracy is now using DemocracyOS to give public opinion a space to debate on important bills. They support political institutions, associations and citizens movements interested in giving online democracy a shot.<br><br><a class="standardlink" target="_blank" href="http://democracyos.eu/">DemocracyOS&nbsp;France</a></p>
              <p class="clientfeature"><a class="standardlink" target="_blank" href="https://twitter.com/DemocracyOS_FR">DemocracyOS&nbsp;France&nbsp;on Twitter</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="https://twitter.com/DemocracyOS_IN" target="_blank"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/554be22c2cb6bf677667ac82_TgQgaxDJ.png"></a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">DemocracyOS&nbsp;India</h5>
              <p class="clientfeature">Considered the largest democracy in the world with over 800 million voters on each election, India already has its own official DemocracyOS&nbsp;Chapter to further promote and extend the use of DemocracyOS&nbsp;in India. Join them!<br><br><a class="standardlink" target="_blank" href="https://twitter.com/DemocracyOS_IN">DemocracyOS&nbsp;India Twitter<br></a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://politica.datos.gob.mx/" target="_blank">
                  <div class="client-location" data-ix="new-interaction">mexico</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baf4b14bcc750812061067_flag-mx.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe52c9165105771c915104_Screen%20Shot%202015-03-09%20at%207.10.54%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Government of Mexico</h5>
              <p class="clientfeature">As the second largest economy in Latin America, the government of Mexico inaugurated its policy on open data by letting citizens to engage in an online debate on transparency and accountability to set its goals.<br><br><a class="standardlink" target="_blank" href="http://politica.datos.gob.mx/">Mexico's Open Data DemocracyOS</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="https://twitter.com/DemocracyOS_PE" target="_blank"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/554be2f8c4a9e94d1c7a3ee9_0qDDJDHI.png"></a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">DemocracyOS&nbsp;Peru</h5>
              <p class="clientfeature">In the heart of South America, DemocracyOS&nbsp;now has an official chapter in Peru. Join their community.<br><br><a class="standardlink" target="_blank" href="https://twitter.com/DemocracyOS_PE">DemocracyOS Peru on Twitter</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://podemos-id.herokuapp.com/" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Spain</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baf6b24bcc750812061097_flag-sp.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe867aa8d47afa0c423355_Screen%20Shot%202015-03-09%20at%2010.51.09%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Podemos Party</h5>
              <p class="clientfeature">The largest new party emerging from Europe after the financial crisis. Podemos got over 1 million votes in Madrid during the last European election and its members openly debate internal party policy online.<br><br><a class="standardlink" target="_blank" href="http://podemos-id.herokuapp.com/">Podemos DemocracyOS</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://preprograma.barcelonaencomu.cat/" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Barcelona</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baf6b24bcc750812061097_flag-sp.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe900ab8f7c5751cf01cc2_Screen%20Shot%202015-03-09%20at%2011.32.13%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Guanyem Barcelona</h5>
              <p class="clientfeature">After the indignados movement that took the streets of Barcelona as a resistance to the measures that generated unemployment in the financial crisis, Guanyem (’Take Back Barcelona’)&nbsp;is a movement of citizens that aim real change.<br><br><a class="standardlink" target="_blank" href="http://preprograma.barcelonaencomu.cat/">Guanyem DemocracyOS</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="https://www.facebook.com/DemocracyOScolombia?fref=ts" target="_blank"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/557bf51def58dd7851a6d469_11168397_1659628367605538_3789065242840422903_o.png"></a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">DemocracyOS&nbsp;Colombia</h5>
              <p class="clientfeature">The DemocracyOS Colombia chapter based in Bogotá is beginning. Join them!<br><br><a class="standardlink" target="_blank" href="https://www.facebook.com/DemocracyOScolombia?fref=ts">DemocracyOS Colombia on Facebook</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://benkallos.democracyos.org" target="_blank">
                  <div class="client-location" data-ix="new-interaction">New york, Ny</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baf7397e1f4b52275c7066_flag-us.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe3aac013b1ff80ccb9cad_Screen%20Shot%202015-03-09%20at%205.28.04%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Councillor Ben Kallos</h5>
              <p class="clientfeature">A lawyer and self-taught software developer, Ben was elected council by the Fifth District of New York City in 2013.&nbsp;He is helping new yorkers&nbsp;protect their quality of life by fighting corruption and&nbsp;openly debating his proposals.&nbsp;<br><br><a class="standardlink" target="_blank" href="http://benkallos.democracyos.org">Ben Kallos DemocracyOS</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://markfarrell.democracyos.org" target="_blank">
                  <div class="client-location" data-ix="new-interaction">San Francisco, CA</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baf7397e1f4b52275c7066_flag-us.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe3ab8013b1ff80ccb9cae_Screen%20Shot%202015-03-09%20at%205.27.28%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Supervisor Mark&nbsp;Farrell</h5>
              <p class="clientfeature">Representing District 2 in San Francisco, Mark is a leader on open government and data initiatives. He opened this platform to communicate better with the residents of San Francisco and to be more accessible.&nbsp;<br><br><a class="standardlink" target="_blank" href="http://markfarrell.democracyos.org">Mark&nbsp;Farrell's DemocracyOS</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-row clientlist">
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <a class="w-inline-block client-icon" href="http://nadeemmazen.democracyos.org" target="_blank">
                  <div class="client-location" data-ix="new-interaction">Cambridge, ma</div>
                  <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54baf7397e1f4b52275c7066_flag-us.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe3acb165105771c914ef0_Screen%20Shot%202015-03-09%20at%205.26.37%20PM.png">
                </a>
                <div class="w-clearfix verfied-account">
                  <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                  <div class="verfied-text">official account</div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">Councillor Nadeem Mazen</h5>
              <p class="clientfeature">After moving to Cambridge for undergraduate and graduate work at MIT, Nadeem fell in love with the city and opened two small businesses in Central Square and became Council.&nbsp;Creative and a problem solver, you can now reach him directly.<br><br><a class="standardlink" target="_blank" href="http://nadeemmazen.democracyos.org">Nadeem Mazen's DemocracyOS</a></p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-col-stack">
          <div class="w-row client-profile">
            <div class="w-col w-col-4">
              <div class="client-info">
                <div class="client-info">
                  <a class="w-inline-block client-icon" href="http://evoks.hu" target="_blank">
                    <div class="client-location" data-ix="new-interaction">BUDAPEST</div>
                    <img class="client-flag" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/557bf97ee62c1b7951b5bee3_Screen%20Shot%202015-06-13%20at%202.35.16%20AM.png"><img class="client-pic" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/557bf7eee62c1b7951b5becf_Screen%20Shot%202015-06-13%20at%202.28.51%20AM.png">
                  </a>
                  <div class="w-clearfix verfied-account">
                    <img class="verified" src="https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54fe155eb1fc8aa708bb9925_official.png">
                    <div class="verfied-text">official account</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-8 clientdetail">
              <h5 class="clientname">EVoks Hungary</h5>
              <p class="clientfeature">The most rapid growing DemocracyOS community on Eastern Europe, with over 500+ members in Budapest. Join EVoks.<br><br><a class="standardlink" target="_blank" href="http://evoks.hu/">EVoks Hungary</a></p>
              <p class="clientfeature"><a class="standardlink" target="_blank" href="https://www.facebook.com/eVoks.hu?fref=ts">EVoks on Facebook</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-section media">
      <h4>Start a chapter</h4>
      <p class="subtitle">We are getting started building the DemocracyOS&nbsp;community around the world.<br>Send us some info about you and we’ll reach back to help you get started and transform your city and country.</p>
      <div class="w-container">
        <div class="w-form">
          <form class="jobform" id="wf-form-Work-With-Us" name="wf-form-Work-With-Us" data-name="Work With Us"><label class="jobfield" for="Name-4">Full Name</label><input class="w-input jobtext" id="Name-4" type="text" placeholder="Enter your name" name="Name" data-name="Name"><label class="jobfield" for="Email-4">Email</label><input class="w-input jobtext" id="Email-4" type="email" placeholder="Enter your email address" name="Email" data-name="Email" required="required"><label class="jobfield" for="Location-4">Where are you from?</label><input class="w-input jobtext" id="Location-4" type="text" placeholder="Organisation, city and country" name="Location" data-name="Location" required="required"><label class="jobfield" for="Message-3">Tell us about yourself&nbsp;</label><textarea class="w-input jobtext jobdescription" id="Message-3" placeholder="Include links or anything you find useful so we can get to know you better :)" name="Message" data-name="Message"></textarea><input class="w-button calltoaction" type="submit" value="Submit" data-wait="Please wait..."></form>
          <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form :(</p>
          </div>
        </div>
      </div>
    </div>
    <% include footer %>
  </body>
</html>